// FONT
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

// VARIABLES
$sidebar-bg: #5b21b6;
$text-white: #fafafa;
$text-black: #1f1f1f;
$input-dark-grey-text: #1f2937;
$text-gray-article: #4b5563;
$light-gray-bg: #e2e8f0;

// GENERAL
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
  color: $text-black;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

::-moz-selection {
  background-color: $text-white;
  color: $sidebar-bg;
}

::selection {
  background-color: $text-white;
  color: $sidebar-bg;
}

// HEADER
.header {
  grid-area: 1 / 3 / 3 / 11;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  background-color: $text-white;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.15);
  z-index: 2;
  padding-bottom: 2rem;

  .section {
    &__search {
      grid-area: 1 / 1 / 2 / 6;
      padding: 2rem;
      display: flex;
      align-items: center;
      gap: 1rem;

      span {
        display: inline-block;
        font-size: 3rem;
        cursor: pointer;
      }

      input {
        outline: none;
        border: none;
        background-color: $light-gray-bg;
        border-radius: 9px;
        padding: 1rem 2rem;
        font-size: 1.8rem;
        width: 100%;
        color: $input-dark-grey-text;

        &::-webkit-search-cancel-button {
          -webkit-appearance: none;
        }
      }
    }

    &__account {
      grid-area: 1 / 6 / 2 / 9;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 4rem;
      gap: 3.6rem;

      span {
        font-size: 3rem;
      }

      img {
        border-radius: 50%;
        width: 6.4rem;
        height: 6.4rem;
      }

      &__name {
        font-size: 2.2rem;
      }
    }

    &__greeting {
      grid-area: 2 / 1 / 2 / 5;
      padding: 0 2rem;
      display: flex;
      align-items: center;
      gap: 2rem;

      img {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
      }

      &__content {
        .greeting {
          font-size: 1.6rem;
        }

        .name {
          font-size: 2.8rem;
        }
      }
    }

    &__actions {
      grid-area: 2 / 5 / 2 / 9;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 4rem;
      gap: 4rem;

      .btn-action {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        outline: none;
        border: none;
        border-radius: 999px;
        padding: 1.2rem 2.4rem;
        font-size: 2rem;
        font-weight: 700;
        color: $text-white;
        background-color: $sidebar-bg;
        cursor: pointer;
      }
    }
  }
}

// MAIN

.main {
  grid-area: 3 / 3 / 9 / 11;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 2rem;
  background-color: $light-gray-bg;
  padding: 3rem;

  & > * {
    padding: 4rem 0;
    position: relative;

    .section__heading {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 2.4rem;
    }
  }

  .section {
    &__project {
      grid-area: 1 / 1 / 7 / 3;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 3rem;

      &__article {
        display: flex;
        gap: 1rem;
        border-radius: 11px;
        overflow: hidden;
        flex-direction: column;
        background-color: $text-white;
        color: $text-black;
        box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
        padding: 3rem 1.5rem;
        border-left: 1rem solid $sidebar-bg;

        .article {
          &__heading {
            font-size: 2rem;
          }

          &__description {
            font-size: 1.6rem;
            color: $text-gray-article;
          }

          &__buttons {
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 2rem;

            & > * {
              cursor: pointer;
            }
          }
        }
      }
    }

    &__announcements {
      grid-area: 1 / 3 / 4 / 4;
      display: flex;
      gap: 1rem;
      flex-direction: column;
      border-radius: 11px;
      background-color: $text-white;
      color: $text-black;
      box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);
      margin: 4rem 0 0;
      padding: 3rem;

      .section__heading {
        top: -4rem;
      }

      .announce {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        &:not(:last-child) {
          padding-bottom: 1rem;
          border-bottom: 1px solid $text-gray-article;
        }

        &__title {
          font-size: 1.8rem;
        }

        &__text {
          color: $text-gray-article;
          font-size: 1.4rem;
        }
      }
    }

    &__trending {
      grid-area: 4 / 3 / 7 / 4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 4rem 0;
      padding: 2rem 3rem;
      border-radius: 11px;
      background-color: $text-white;
      color: $text-black;
      box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.1);

      .section__heading {
        top: -4rem;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 2rem;

        &__photo {
          border-radius: 50%;
          height: 6rem;
          width: 6rem;
        }

        &__meta {
          font-size: 1.6rem;
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          &--name {
            color: $input-dark-grey-text;
          }

          &--project {
            color: $text-gray-article;
          }
        }
      }
    }
  }
}

// SIDEBAR
.sidebar {
  grid-area: 1 / 1 / 9 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 8rem;
  color: $text-white;
  padding: 3rem;
  background-color: $sidebar-bg;

  &-item--primary {
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 1rem;

    &__title {
      font-size: 3rem;
    }

    &__icon {
      font-size: 4rem;
    }
  }

  .navitagion,
  .additional {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .sidebar-item {
      display: flex;
      align-items: center;
      align-self: flex-start;
      gap: 1rem;
      padding: 0 1rem;
      cursor: pointer;

      &__title {
        font-size: 2.4rem;
      }

      &__icon {
        font-size: 2.4rem;
      }
    }
  }
}
